# Virtual Environments
venv/
env/
.venv/

# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

# Environment variables
.env
.env.local

# Project-specific files
.python-version
.idea/
.vscode/

.pytest_cache/
.pulse/
# .claude/
data/